# SPDX-FileCopyrightText: 2016-2019 CERN.
# SPDX-License-Identifier: MIT

include .dockerignore
include .editorconfig
include .lgtm
include *.rst
include *.sh
include *.txt
include docs/requirements.txt
include LICENSE
include MAINTAINERS
include pytest.ini
recursive-include docs *.bat *.py *.rst
recursive-include docs Makefile
recursive-include examples *.py
recursive-include invenio_sipstore *.py *.json *.html
recursive-include tests *.py
